pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.mic {
  type plug
  slave {
    pcm "hw:{{ mic_card_number }},{{ mic_device_number }}"
  }
}
pcm.speaker {
  type plug
  slave {
    pcm "hw:{{ speaker_card_number }},{{ speaker_device_number }}"
  }
}
